# OFAC SDN (US) List Cleanup

## Import packages

In [1]:
import pandas as pd
import re

## SDN Main

In [21]:
df = pd.read_csv("sdn-main-src.csv",header=None, names=["ent_num", "SDN_Name", "SDN_Type", "Program", "Title", "Call_Sign", "Vess_type", "Tonnage", "GRT", "Vess_flag", "Vess_owner", "Remarks"])

In [22]:
df.columns

Index(['ent_num', 'SDN_Name', 'SDN_Type', 'Program', 'Title', 'Call_Sign',
       'Vess_type', 'Tonnage', 'GRT', 'Vess_flag', 'Vess_owner', 'Remarks'],
      dtype='object')

In [23]:
df.head(5)

,ent_num,SDN_Name,SDN_Type,Program,Title,Call_Sign,Vess_type,Tonnage,GRT,Vess_flag,Vess_owner,Remarks
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-

### Remove Unnessary Cols

In [60]:
df_new = df.drop(['Program', 'Call_Sign', 'Vess_type','Tonnage','GRT','Vess_flag','Vess_owner'], axis=1)

In [61]:
df_new.head(10)

  ent_num                        SDN_Name SDN_Type Title        Remarks
0      36          AEROCARIBBEAN AIRLINES     -0-   -0-            -0-
1     173       ANGLO-CARIBBEAN CO., LTD.     -0-   -0-            -0-
2     306          BANCO NACIONAL DE CUBA     -0-   -0-   a.k.a. 'BNC'.
3     424              BOUTIQUE LA MAISON     -0-   -0-            -0-
4     475                    CASA DE CUBA     -0-   -0-            -0-
5     480                    CECOEX, S.A.     -0-   -0-            -0-
6     535                           CIMEX     -0-   -0-            -0-
7     536                   CIMEX IBERICA     -0-   -0-            -0-
8     537                     CIMEX, S.A.     -0-   -0-            -0-
9     540  COMERCIAL IBEROAMERICANA, S.A.     -0-   -0-            -0-

In [62]:
print(df_new["SDN_Type"].unique())

['-0- ' 'individual' 'vessel' 'aircraft' nan]

In [63]:
df_new = df_new[df_new["SDN_Type"].isin(['-0- ', "individual"])]

In [64]:
df_new.loc[df["SDN_Type"] == '-0- ', "SDN_Type"] = "enterprise"

In [65]:
df_new.head(10)

  ent_num                        SDN_Name    SDN_Type Title        Remarks
0      36          AEROCARIBBEAN AIRLINES  enterprise  -0-            -0-
1     173       ANGLO-CARIBBEAN CO., LTD.  enterprise  -0-            -0-
2     306          BANCO NACIONAL DE CUBA  enterprise  -0-   a.k.a. 'BNC'.
3     424              BOUTIQUE LA MAISON  enterprise  -0-            -0-
4     475                    CASA DE CUBA  enterprise  -0-            -0-
5     480                    CECOEX, S.A.  enterprise  -0-            -0-
6     535                           CIMEX  enterprise  -0-            -0-
7     536                   CIMEX IBERICA  enterprise  -0-            -0-
8     537                     CIMEX, S.A.  enterprise  -0-            -0-
9     540  COMERCIAL IBEROAMERICANA, S.A.  enterprise  -0-            -0-

In [66]:
df_new.to_csv("output_SDN_Main_english.csv", index=False)

In [21]:
df = pd.read_csv("sdn-main-src.csv",header=None, names=["ent_num", "SDN_Name", "SDN_Type", "Program", "Title", "Call_Sign", "Vess_type", "Tonnage", "GRT", "Vess_flag", "Vess_owner", "Remarks"])

In [22]:
df.columns

Index(['ent_num', 'SDN_Name', 'SDN_Type', 'Program', 'Title', 'Call_Sign',
       'Vess_type', 'Tonnage', 'GRT', 'Vess_flag', 'Vess_owner', 'Remarks'],
      dtype='object')

In [23]:
df.head(5)

,ent_num,SDN_Name,SDN_Type,Program,Title,Call_Sign,Vess_type,Tonnage,GRT,Vess_flag,Vess_owner,Remarks
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-

## SDN ALT

In [89]:
df = pd.read_csv("sdn-alt-src.csv",header=None, names=["ent_num", "alt_num", "alt_type", "alt_name", "alt_remarks"])

In [90]:
df.columns

Index(['ent_num', 'alt_num', 'alt_type', 'alt_name', 'alt_remarks'], dtype='object')

In [91]:
df.head(5)

  ent_num  alt_num alt_type               alt_name alt_remarks
0      36     12.0      aka         AERO-CARIBBEAN        -0-
1     173     57.0      aka            AVIA IMPORT        -0-
2     306    220.0      aka  NATIONAL BANK OF CUBA        -0-
3     540    471.0      aka                  COIBA        -0-
4     552    475.0      aka                 CRYMSA        -0-

### Remove Unnessary Cols

In [92]:
df_new = df.drop(['alt_type','alt_remarks'], axis=1)

In [93]:
df_new.head(10)

  ent_num  alt_num                 alt_name
0      36     12.0           AERO-CARIBBEAN
1     173     57.0              AVIA IMPORT
2     306    220.0    NATIONAL BANK OF CUBA
3     540    471.0                    COIBA
4     552    475.0                   CRYMSA
5     555    477.0                  COPROVA
6     555    478.0             COPROVA SARL
7     559    481.0                    CIMEX
8     651    556.0  DELVEST HOLDING COMPANY
9     735    583.0          CUBANA AIRLINES

In [94]:
print(df_new["alt_name"].unique())

['AERO-CARIBBEAN' 'AVIA IMPORT' 'NATIONAL BANK OF CUBA' ...
 'YANGSHAN SHENGANG INTERNATIONAL PETROLEUM LOGISTICS CO., LTD.'
 'YANGSHAN SHENGANG INTERNATIONAL OIL STORAGE CO. LTD.' nan]

In [95]:
df_new.to_csv("output_SDN_ALT_english.csv", index=False)

## SDN Add

In [104]:
df = pd.read_csv("sdn-add-src.csv",)

In [105]:
df.columns

Index(['Ent_num', 'Add_num', 'Address', 'Province', 'Country', 'Add_remarks'], dtype='object')

In [106]:
df.head(5)

,Ent_num,Add_num,Address,Province,Country,Add_remarks
0,36,25.0,-0-,Havana,Cuba,-0-
1,173,129.0,"Ibex House, The Minories",London EC3N 1DY,United Kingdom,-0-
2,306,199.0,Zweierstrasse 35,Zurich CH-8022,Switzerland,-0-
3,306,200.0,Avenida de Concha Espina 8,Madrid E-28036,Spain,-0-
4,306,201.0,"Dai-Ichi Bldg. 6th Floor, 10-2 Nihombashi, 2-c...",Tokyo 103,Japan,-0-

### Remove Unnessary Cols

In [107]:
print(df["Add_remarks"].unique())

['-0- ' nan]

In [108]:
df_new = df.drop(['Add_remarks'], axis=1)

In [109]:
df_new.to_csv("output_SDN_ADD_english.csv", index=False)